@import url("styles/header.css");
@import url("styles/reset.css");
@import url("styles/sobremi.css");
@import url("styles/skills.css");
@import url("styles/hobbies.css");
@import url("styles/footer.css");
@import url("styles/formacion.css");
@import url("styles/experiencia.css");
@import url("styles/contacto.css");

body{
  width: 100vw;
  background: rgb(230, 134, 185);
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.contenedor{
  padding: 16px 5vw; /*vw=view widht ancho de pantalla*/
}
